<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>
    <div class="container">
      <a class="navbar-brand" [routerLink]='["/"]'>SmartStore</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link text-dark" [routerLink]='["/"]'>Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="usuario_administrador()">
            <a class="nav-link text-dark" [routerLink]='["/pesquisar-produto"]'>Produto</a>
          </li>

          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="!usuarioLogado()">
            <a class="nav-link text-dark" [routerLink]='["/entrar"]'>Entrar</a>
          </li>

          <li class="nav-item dropdown" *ngIf="usuarioLogado()">
            <a class="nav-link text-dark dropdown-toggle" role="button" aria-haspopup="true" href="#"
               aria-expanded="false" id="linkMenu" data-toggle="dropdown">{{usuario.nome}}</a>

            <ul class="dropdown-menu" aria-labelledby="linkMenu">
              <li class="dropdown-item" role="menu" [routerLink]='["/sair"]' (click)="sair()">Sair</li>
            </ul>
          </li>         

          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="temItensCarrinhoCompras()">
            <a class="nav-link text-dark" [routerLink]='["/loja-efetivar"]'>
              <img src="assets/img/shopping-06-512.png" style="width:32px; height:32px;"/>
            </a>
          </li>

          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="temNotificacoes()">
            <a class="nav-link text-dark" [routerLink]='["/loja-efetivar"]'(click)="adicionarItemCarrinhoCompras()">
              <!--<img src="assets/img/shopping-06-512.png" style="width:32px; height:32px;"/>-->

              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bell-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
              </svg>

            </a>
          </li>          

          <!--<li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="usuarioLogado()">
    <a class="nav-item nav-link text-dark" [routerLink]='["/sair"]' (click)="sair()">Sair</a>
  </li>-->
        </ul>
      </div>
    </div>
  </nav>
</header>
